@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.outer {
    height: 100vh;
    width: 100vm;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    padding: 2em 0 0 0;
}

.main {
    display: flex;
    align-items: center;

}

img {
    height: 3em;
    width: 3em;
    margin: 0 0 0 2em;
}

.straightline {
    height: .05rem;
    flex-basis: 35%;
    background-color: aliceblue;
    opacity: 0.3;
    margin: 0 0 0 2em;
    flex-shrink: 4;
}

.navbar {
    flex-grow: 2;
    height: 5em;
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    display:block;
}

.pages {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

li:hover {
    display: flex;
    height: 90%;
    align-items: center;
    border-bottom: 2px solid white;
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.bold {
    font-weight: 900;
}

.contentdiv {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10em;
    padding-top: 10em;
}

.content {
    flex-basis: 50%;
    height: 25em;
}

.flexcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 0 10rem 0 0;
}

.line1 {
    font-size: 2rem;
    letter-spacing: .12em;
}

.bigtext {
    font-size: 12rem;
}

.line3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    text-transform: capitalize;
}

.explorediv {
    flex-basis: 50%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.explorebutton {
    display: flex;
    height: 15em;
    width: 15em;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 130px;
}

.exploretext {
    font-size: 2em;
    color: black;
}

.explorebutton:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.menuopen {
    display: none;
}

.menuclose {
    display: none;
}

@media (max-width:930px) {
    .outer {
        background-image: url(assets/home/background-home-mobile.jpg);
        background-size: cover;
    }

    img {
        height: 2em;
        width: 2em;
    }

    .contentdiv {
        flex-direction: column;
        padding: 9em 0 0 0;

    }

    .content {

        width: 100%;
        flex-basis: 100%;

        height: 5rem;
    }

    .line1 {
        font-size: initial;

    }

    .line3 {
        font-size: .6em;

    }

    .bigtext {
        font-size: 6rem;

    }

    .flexcontent {
        padding-right: 1em;
        padding-left: 1em;
        text-align: center;
    }

    .explorediv {
        margin-top: 10em;
    }

    .navbar {
        height: 100vh;
        position: absolute;
        right: 0;
        top:0;
        width: 22em;

    }
    .menuopen {
        display: block;
        height: 1.2em;
        width: 1.5em;
    }

    .main {
        justify-content: space-evenly;
    }
    .pages{
        flex-direction: column;
        justify-content: flex-start;
        height:90%;
        gap:2em;
        margin-left:3rem;
    }
    .menuclose{
        display:block;
        height:10%;
        width:100%;
    }
    .menuclose img{
        margin:2em 0 0 17em;
    }
    li{
       
        height:2em;
        width:100%;
    }
    li:hover {
        display: block;
        height: 2em;;
        align-items: center;
        border-bottom:unset;
        transform: unset;
        transition: 300ms ease-in-out;
        background-color: hsl(0, 0%, 100%, 0.1);
        
    }
    .hidden{
        display:none;
    }
}